/* Content.css */
.container {
  display: flex;
}

.data-container {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.data-container h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  /* Adjust the width based on your layout */
}

.card a {
  text-decoration: none;
  color: #1a0dab;
  /* Google blue */
  transition: color 0.3s;
}

.card a:hover {
  color: #0d0d0d;
  /* Dark gray on hover */
}

.card h4 {
  font-size: 18px;
  margin: 0;
}

.card p {
  margin-top: 8px;
  color: #70757a;
  /* Gray text color */
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 12px;
}

.card img.favicon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.cust-colo {
  color: red;

}

.cust-width {
  width: 40px !important;
}

.cust-fav-img {
  background-color: #f1f3f4;
  border: 1px solid #ecedef;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  margin-right: 12px;
  vertical-align: middle;
}

.cust-md-text {
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: '400';
  text-decoration: 'none';
}

.cust-font-size {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-top: -10px;
  color: #000;
}

.cust-font-title {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.cust-heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
}

.cust-margin-top {
  margin-top: -10px;
  /* padding-bottom: 20px; */
  color: #000;
}

.cust-width {
  width: 300px;
  display: flex;
  padding: 10px;
}

.cust-subHeadingText {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 500;
  white-space: normal;
  font-size: 16px;
  -webkit-line-clamp: 2;
  line-height: 18px;
  height: 36px;
  color: #202124;
  overflow: hidden;
  text-overflow: ellipsis;
}